@use 'src/styles/vars';

.messages {
overflow:auto
}

.message {
    padding: 1rem 1rem;

    &__author {
        font-weight: bold;
        color: vars.$darkerColor;
        padding-bottom: 1.5rem;
        padding-left: 3.2rem;
    }

    &__content {
        position: relative;

        &::before {
           content:'';
           position: absolute; 
           border-bottom: 10px solid white;
           border-left: 10px solid transparent;
           border-top: 10px solid transparent;
           border-right: 10px solid white;
           top:-16px;
           left: 5px;
        }

        border: 1px solid black;
        padding: 1rem;
        margin-left: 2rem;
        background-color: white;
        color: vars.$primaryColor;
        border: none;
        border-radius: 1rem;
        display: inline-block;

    }
}