@use 'src/styles/vars';

.message-form {
    margin-top: 1rem;
    padding: 1rem 3rem;
    display: flex;
    ::placeholder {
        color: vars.$lighterColor;
    }
   
}

.message-input {
    flex-grow: 1;
    padding: 1rem;
    border: none;
    color: vars.$primaryColor;
    font-size: 1rem;
  
    &:focus {
    color: vars.$primaryColor;
    }
  
}

.message-button {
    padding: 1rem;
    border: none;
    background-color: white;
    color: vars.$primaryColor;

    &:hover {
        color: gray;
    }

    &:disabled {
        background-color: transparent; 
        color: transparent
    }

}