@use 'src/styles/vars';

.app {
    width: 70%;
    height: 100vh;
    margin: auto;
    padding-top: 2%;
    background-color: vars.$lighterColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-end ;
    padding-bottom: 10%;
    
}