@use 'src/styles/vars';

.openbutton {
    background-color: white;
    border: none;
    color: vars.$darkerColor;
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    display: inline-block;
    font-size: 15px;
    border-radius: 80%;
    height: fit-content;
}