@use 'src/styles/vars';

.settings {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    top: 0;
    right: 0;
    width: 20%;
    color: vars.$primaryColor;

   &__container {
        position: relative;
        width: 100%;
        height: 7rem;
 
   }

    &__form {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 0.3rem;
        padding-left: 0.7rem;
        left: 0px;
        opacity: 1;
        transition: left 0.4s, opacity 0.4s;

        &--open {
            left: 50px;
            opacity: 0;
        }
    
    }

    &__button {
        color: vars.$darkerColor;
        background-color: vars.$lighterColor;
        border: none;
        height: 1.5rem;
        font-weight: bold;

        &:hover {
            background-color: vars.$primaryColor;
            color: white;
        }
    }

    &__input {
        margin-bottom: 0.5rem;
        color: vars.$darkerColor;
        background-color: white;
        border: none;
        height: 1.5rem;

    }
};



.settings__close {
    position: fixed;
    height: 80px;
    top: 0;
    right: 0;
    width: 20%;
};

.connexionParagraph {
    color: white;
    padding : 1rem 0 0.5rem 1rem;
};

.connexionButton {
        color: vars.$darkerColor;
        background-color: vars.$lighterColor;
        margin-left: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border: none;
        height: 1.5rem;
        font-weight: bold;

        &:hover {
            background-color: vars.$primaryColor;
            color: white;
        }

};

.failed-message {
    text-align: center;
    color: rgb(245, 81, 81);
    margin-top: 0.5rem;
}